## Задача 1 Связанные списки 
## Задача 2 Пузырьки

In [69]:
class Node:
    def __init__(self, value, next = None, prev = None):
        self.prev = prev
        self.value = value
        self.next = next
    def __str__(self):
        return f"[Node with value {self.value}]"
        
class DoubleLinkedList:
    def __init__(self):
        self.head = None
        self.tail = None
        self.length = 0

    def addElem(self, cur_node):
        if self.head == None and self.tail == None:
            cur_node.prev = self.head
            cur_node.next = self.tail
            self.head = cur_node
            self.tail = cur_node
        else:
            # Элементы добавляются в конец по умолчанию (исключение нулевой и добавление элемента в начало)
            temp = self.tail
            self.tail = cur_node
            cur_node.prev = temp
            temp.next = cur_node
        self.length += 1

    def addElemAtStart(self, cur_node):
        temp = self.head
        self.head = cur_node
        cur_node.next = temp
        temp.prev = cur_node
        self.length += 1
    
    def printList(self):
        cur_node = self.head
        while cur_node is not None:
            print(cur_node)
            cur_node = cur_node.next
    
    def reversePrintList(self):
        cur_node = self.tail
        while cur_node is not None:
            print(cur_node)
            cur_node = cur_node.prev

def reverseLinkedList(head, tail):
    p_pointer = head
    q_pointer = p_pointer.next 
    p_pointer.next = None 
    p_pointer.prev = q_pointer 
    tail = p_pointer
    while q_pointer is not None: 
        q_pointer.prev = q_pointer.next 
        q_pointer.next = p_pointer 
        p_pointer = q_pointer 
        q_pointer = q_pointer.prev
    head = p_pointer
    return head, tail

def bubbleSortLinkedList(linkedList):
    l_pointer = linkedList.head
    for i in range(linkedList.length):
        r_pointer = l_pointer.next
        for j in range(i, linkedList.length-1):
            if l_pointer.value > r_pointer.value:
                l_pointer.value, r_pointer.value = r_pointer.value, l_pointer.value
            r_pointer = r_pointer.next
        l_pointer = l_pointer.next
    return linkedList

a, b, c, g, k = Node(1), Node(2), Node(3), Node(4), Node(5)

linkedList = DoubleLinkedList()

linkedList.addElem(a)
linkedList.addElem(b)
linkedList.addElem(c)
linkedList.addElemAtStart(g)
linkedList.addElem(k)

linkedList.printList()
linkedList.head, linkedList.tail = reverseLinkedList(linkedList.head, linkedList.tail)
print("___________________")
linkedList.printList()
linkedList = bubbleSortLinkedList(linkedList)
print("___________________")
linkedList.printList()

[Node with value 4]
[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value 5]
___________________
[Node with value 5]
[Node with value 3]
[Node with value 2]
[Node with value 1]
[Node with value 4]
___________________
[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value 4]
[Node with value 5]

In [ ]:
%pip install --upgrade
%pip install pandas

## Задача 3 Pandas
### Выясните, сколько в среднем выходи полный счёт по пятницам на ланч у курящих мужчин (датасет tips)
### Загрузите iris и посмотрите разбросы по всем числовым значениям для всех трёх классов цветов (датасет iris)
### Создайте новый столбец с плотностью населения. Переименуйте названия первого и третьего столбца на русский язык

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/HerrEnot/MISIS/master/notebooks/season_2/tips.csv")
df.head(20)

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
12       15.42  1.57    Male     No  Sun  Dinner     2
13       18.43  3.00    Male     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
15       21.58  3.92    Male     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3
17       16.29  3.71    Male     No  Sun  Dinner     3
18       16.97  3.50  Female     No  Sun  Dinner     3
19       20.65  3.35    Male     No  Sat  Dinner     3

In [3]:
df = df[df['sex'].isin(['Male'])]
df = df[df['time'].isin(['Lunch'])]
df = df[df['smoker'].isin(['Yes'])]
df = df[df['day'].isin(['Fri'])]
df.head()

     total_bill   tip   sex smoker  day   time  size
220       12.16  2.20  Male    Yes  Fri  Lunch     2
222        8.58  1.92  Male    Yes  Fri  Lunch     1
224       13.42  1.58  Male    Yes  Fri  Lunch     2

In [4]:
result = df['total_bill'].mean()
print(result)

11.386666666666668

In [5]:
df_iris = pd.read_csv("https://raw.githubusercontent.com/HerrEnot/MISIS/master/notebooks/season_2/iris.csv")
df_iris.head(20)

    SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0           5.1         3.5          1.4         0.2  Iris-setosa
1           4.9         3.0          1.4         0.2  Iris-setosa
2           4.7         3.2          1.3         0.2  Iris-setosa
3           4.6         3.1          1.5         0.2  Iris-setosa
4           5.0         3.6          1.4         0.2  Iris-setosa
5           5.4         3.9          1.7         0.4  Iris-setosa
6           4.6         3.4          1.4         0.3  Iris-setosa
7           5.0         3.4          1.5         0.2  Iris-setosa
8           4.4         2.9          1.4         0.2  Iris-setosa
9           4.9         3.1          1.5         0.1  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
12          4.8         3.0          1.4         0.1  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa

In [6]:
df_iris.groupby('Name').describe().T

Name               Iris-setosa  Iris-versicolor  Iris-virginica
SepalLength count    50.000000        50.000000       50.000000
            mean      5.006000         5.936000        6.588000
            std       0.352490         0.516171        0.635880
            min       4.300000         4.900000        4.900000
            25%       4.800000         5.600000        6.225000
            50%       5.000000         5.900000        6.500000
            75%       5.200000         6.300000        6.900000
            max       5.800000         7.000000        7.900000
SepalWidth  count    50.000000        50.000000       50.000000
            mean      3.418000         2.770000        2.974000
            std       0.381024         0.313798        0.322497
            min       2.300000         2.000000        2.200000
            25%       3.125000         2.525000        2.800000
            50%       3.400000         2.800000        3.000000
            75%       3.675000         3.000000        3.175000
            max       4.400000         3.400000        3.800000
PetalLength count    50.000000        50.000000       50.000000
            mean      1.464000         4.260000        5.552000
            std       0.173511         0.469911        0.551895
            min       1.000000         3.000000        4.500000
            25%       1.400000         4.000000        5.100000
            50%       1.500000         4.350000        5.550000
            75%       1.575000         4.600000        5.875000
            max       1.900000         5.100000        6.900000
PetalWidth  count    50.000000        50.000000       50.000000
            mean      0.244000         1.326000        2.026000
            std       0.107210         0.197753        0.274650
            min       0.100000         1.000000        1.400000
            25%       0.200000         1.200000        1.800000
            50%       0.200000         1.300000        2.000000
            75%       0.300000         1.500000        2.300000
            max       0.600000         1.800000        2.500000

In [13]:
df_countries = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
})
df_countries['density'] = df_countries['population']/df_countries['square']
df_countries.rename(columns={"country": "страна", "square": "квадрат площади страны"})

       страна  population  квадрат площади страны   density
0  Kazakhstan       17.04                 2724902  0.000006
1      Russia      143.50                17125191  0.000008
2     Belarus        9.50                  207600  0.000046
3     Ukraine       45.50                  603628  0.000075